
.body {
    background: #f4f4f4;
    height: 100vh;
    margin: 0;
}

.box {
    background: #fff;
    padding: 20px 25px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    text-align: center;
    width: 250px;
}

.pass {
    font-size: 18px;
    padding: 10px;
    background: #eee;
    border-radius: 5px;
    margin-bottom: 15px;
    height: 25px;
    color: #000;
}

.btn {
    width: 100%;
    padding: 10px;
    border: none;
    background: #4CAF50;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.copy{
    padding: 5px 10px;
    margin-left: 10px;
    border: none;
    background: #67f862;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}