body {
    font-family: Arial, sans-serif;
    background: #f0f6ff;
    padding-top: 40px;
    text-align: center;
}

.converter {
    display: inline-block;
    padding: 20px 25px;
    border-left: 5px solid #4ae275;
    background: white;
    border-radius: 10px;
}

p {
    margin: 12px 0 4px;
    font-weight: bold;
    color: #25cf5b;
}

input {
    width: 220px;
    padding: 8px;
    border: 2px solid #4a90e2;
    border-radius: 6px;
    margin-bottom: 15px;
    outline: none;
}
